<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Unavvi - 颜值与实力并重工具导航网站</title>
		<link rel="shortcut icon" href="resources/logo/favicon.png" type="image/x-icon" />
		<link rel="bookmark" href="resources/logo/favicon.png" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="style/style.css">
		<script type="application/javascript" src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js"></script>
		<script type="application/javascript" src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/2.6.12/vue.min.js"></script>
		<script type="application/javascript" src="lib/pinyin_dict_firstletter.js"></script>
		<script type="application/javascript" src="lib/pinyinUtil.js"></script>
		<script>
			(function(d) {
			var config = {
			  kitId: 'ltx8tpx',
			  scriptTimeout: 3000,
			  async: true
			},
			h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
			})(document);
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?3cdfbb50011e2a236f298cc239b9be4b";
			  var s = document.getElementsByTagName("script")[0];
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body>
		<header class="center">
			<a id="logo" class="center border" href="index.html"><h1>UNAVVI</h1></a>
		</header>
		<div id="container">
			<ul v-for="module in content" class="sort">
				<h2 class="border center hidden">{{module.sortName}}</h2>
				<div class="border center fill-card"></div>
				<div class="border center fill-card"></div>
				<div class="border center fill-card"></div>
				<div class="border center fill-card"></div>
				<h2 class="center fill-h2 loading">
					<div class="sortName">产品资讯</div>
				</h2>
				<div class="sort-container">
					<a v-for="card in module.websites" :href="card.address" class="border center card hidden" :onclick="card.statistics" @mouseenter="focus($event)" @mouseleave="blur()" target="_blank">
						<div class="border center website-logo-con">
							<div class="website-logo-color" :style="{background: card.color}"></div>
							<div class="initial">{{pinyinUtil.getFirstLetter(card.name.substr(0, 1).toUpperCase())}}</div>
						</div>
						<div class="website-con">
							<h3 class="website-name">{{card.name}}</h3>
							<span class="website-intro">{{card.intro}}</span>
						</div>
						<div class="website-bg"></div>
						<div v-if="card.preview" class="border center website-preview hidden">
							<img :src="card.preview" />
						</div>
					</a>
					<a class="center card fill-card loading">
						<div class="center website-logo-con"></div>
						<div class="website-con">
							<div class="website-name"></div>
							<div class="website-intro"></div>
						</div>
					</a>
					<a class="center card fill-card loading">
						<div class="center website-logo-con"></div>
						<div class="website-con">
							<div class="website-name"></div>
							<div class="website-intro"></div>
						</div>
					</a>
					<a class="center card fill-card loading">
						<div class="center website-logo-con"></div>
						<div class="website-con">
							<div class="website-name"></div>
							<div class="website-intro"></div>
						</div>
					</a>
					<a class="center card fill-card loading">
						<div class="center website-logo-con"></div>
						<div class="website-con">
							<div class="website-name"></div>
							<div class="website-intro"></div>
						</div>
					</a>
				</div>
			</ul>
		</div>
		<footer class="center">
			<span id="intro">EDIT BY FLY LEWIS</span>
			<a class="center wechat" href="https://pujivideo.neocities.org/app/code.html">
				<img src="resources/logo/wechat.svg"></i>
			</a>
		</footer>
		<!--<script src="https://cdn.jsdelivr.net/npm/leancloud-storage@3.15.0/dist/av-min.js"></script>-->
		<!--<script src="lib/av-min.js" type="text/javascript"></script>-->
		<script src="data/website.json" type="text/javascript"></script>
		<script src="data/sort.json" type="text/javascript"></script>
		<script type="text/javascript">

			/* 获取分类 */
			var sort = JSON.parse(JSON.stringify(sort));
			for(var i = 0;i < sort.length; i++) {
				sort[i].websites = [];
			}

			/* 获取网页 */
			var website = JSON.parse(JSON.stringify(website));
			for(var i = 0; i < website.length; i++) {
				if(website[i].show) {
					website[i].statistics = "_hmt.push(['_trackEvent', 'website', 'click', '" + website[i].address + "'])";
					for(var j = 0; j < sort.length; j++) {
						if(website[i].sortId == sort[j].sortId) {
							sort[j].websites.push(website[i]);
						}
					}
				}
			}
				
			/* 渲染 */
			var container = new Vue({
				el: "#container",
				data: {
					content: sort
				},
				mounted: function() {
					/* 首次渲染完成 */
					this.$nextTick(function () {
						$(".loading").removeClass("loading");
						$(".hidden").removeClass("hidden");
					})
				},
				methods: {
					focus(e) {
						$("header").addClass("blur");
						$("footer").addClass("blur");
						$("h2").addClass("blur");
						$(".card").addClass("blur");
						e.currentTarget.className = "border center card";
					},
					blur() {
						$("header").removeClass("blur");
						$("footer").removeClass("blur");
						$("h2").removeClass("blur");
						$(".card").removeClass("blur");
					}
				}
			});
			

		</script>
	</body>
</html>
